<!doctype html>
<html lang="en">

<head>
    <title>Reveal-lite Template</title>
    <meta charset="utf-8">
    <meta name="description" content="Presentation">
    <meta name="author" content="Johnny Chan">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../dist/reset.css">
    <link rel="stylesheet" href="../dist/reveal.css">
    <link rel="stylesheet" href="../dist/theme/sky.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../plugin/highlight/monokai.css">

    <!-- Additional references -->
    <link rel="icon" href="../asset/image/bulb.png" type="image/png">
    <link rel="stylesheet" href="../asset/style/tweak.css">

</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section data-markdown="reveal-lite-template.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n"
                data-separator-notes="^Note:" data-charset="utf-8">
            </section>
        </div>
    </div>

    <script src="../dist/reveal.js"></script>
    <script src="../plugin/zoom/zoom.js"></script>
    <script src="../plugin/notes/notes.js"></script>
    <script src="../plugin/search/search.js"></script>
    <script src="../plugin/markdown/markdown.js"></script>
    <script src="../plugin/highlight/highlight.js"></script>
    <script>

        // Also available as an ES module, see:
        // https://revealjs.com/initialization/
        Reveal.initialize({
            width: 1100,
            height: 800,
            controls: true,
            progress: true,
            center: true,
            hash: true,
            transition: "slide",

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight]
        });

    </script>

</body>

</html>
